*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;

  grid-template-columns: 30px 711px 30px 399px 30px;
  grid-template-rows: 133px 78px 456px 133px;
  grid-template-areas:
  ". . . . ."
  ". . . details ."
  ". result . details ."
  ". . . . .";
}

.result {
  grid-area:result;
  top: 211px;
  left: 30px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
}

.preloader-template {
  position: absolute;
}

.error-template {
  position: absolute;
}

.search-form {
  display: flex;

  width: 711px;
  height: 54px;

  justify-content:space-between;
  gap:40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  height: 22px;
  margin-bottom: 5px;

  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;

  color: #FFFFFF;

}

placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield {
  border-bottom: solid white 1px;
  border-top: solid white 1px;
  border-right: 0px;
  background-color: transparent;
  
  width: 225px;
  height: 27px;

  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: white;
}

.search-form__textfield:focus-visible {
  all: initial;

  border: none;

  outline: solid white 1px;
  outline-offset: 2px;

  background-color: transparent;
  
  width: 225px;
  height: 27px;

  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: white;
}

.search-form__textfield:active {
  all: initial;

  border-left: none;
  border-right: none;
  background-color: transparent;
  
  width: 225px;
  height: 27px;

  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: white;
}

.search-form__checkbox-list {
  display: flex;

  width: 212px;
  height: 22px;

  justify-content:space-between;
  gap:15px;

  vertical-align: middle;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  box-sizing: border-box;

  width: 19px;
  height: 19px;

  border: 1px solid #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.search-form__pseudo-checkbox:active {
  background-color: white;
  outline: solid black 1px;
  outline-offset: -2px;
}

span + .search-form__label-text:hover {
  text-decoration: underline;
  cursor:pointer;
}

.search-form__label:focus-within {
  outline: solid white 1px;
}

.search-form__submit-button {
  display: inline-block;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 194px;
  height: 34px;
  margin-top: 20px;

  background-color: transparent;
  color: white;

  border: 1px solid #FFFFFF;

  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  text-align: center;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.content__video-card {
  padding-top: 1px;
}

.content__video-card:active {
  background-color: #5c5959;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #5c5959;
  text-decoration: none;
}

.button:focus-visible {
  outline: solid white 1px;
  outline-offset: 1px;
}

.content__details {
  grid-area: details;

  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  width: 259px;
  height: 210px;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;

  text-transform: uppercase;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.visually-hidden {
  position: absolute; 
  width: 1px; 
  height: 1px;
  margin: -1px; 
  padding: 0; 
  border: 0; 
  clip: rect(0 0 0 0); 
  overflow: hidden; 
}

.content__accent {
color: #545050;
}

.content__list-container {
  position: relative;
  height: 534px;
  width: 399px;
  overflow-y: auto;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
}

.content__video-card-title {
  width: 196px;
  height: 30px;

  margin-bottom: 3px;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;

  text-transform: uppercase;

  color: #FFFFFF;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-left: 5px;

  width: 390px;
  height: 103px;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:focus-visible {
  -moz-outline-radius: 0; 
  outline: solid 1px white; 
}

.content__video-card-description-container{
  width: 194px;
  height: 103px;
}

.content__video-card-description {
  width: 196px;
  height: 17px;

  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #FFFFFF;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  display: -webkit-box; 
  -webkit-box-orient: vertical;
  line-clamp: 1;
  overflow: hidden;

}


.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.more-button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 390px;
  height: 34px;

  border: 1px solid #FFFFFF;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  background-color: transparent;
  color: white;

  border: 1px solid #FFFFFF;

  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  text-align: center;

  flex: none;
  order: 0;
  flex-grow: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

